alembic==0.9.2
click
Flask
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
itsdangerous
Jinja2
Mako
MarkupSafe
postgres
psycopg2
pyspark==2.1.0+hadoop2.7
python-dateutil
python-editor
six
SQLAlchemy
Werkzeug
