<html>
  <head>
    <title>HEADLINES</title>
  </head>
  <body>
      <h1>Current Weather</h1>
      <form>
          <input type ="text" name="city" placeholder="weather search">
          <input type="submit" value="Submit">
      </form>
      <p>City:  <b>{{weather.city}}, {{weather.country}} </b></p>
      <p>It is currently: {{weather.temparature}} C</b></p>

      <h1>{{source}} Headlines</h1>
        <form>
            <input type="text" name="publication" placeholder="search"/>
            <input type="submit" value="Submit"/>
        </form>
      {% for article in articles %}
          <b><a href ="{{article.link}}">{{article.title}}</a></b><br/>
          <i>{{article.published}}</i><br/>
          <i>{{source}}</i><br/>
          <p>{{article.summary}}</p>
           <hr/>
      {% endfor %}

  </body>
</html>
